knowledge_base/
bert-pli/
dumps/
temp
notebook
result
output/
checkpoints/
data/
support/.venv
qdrant/
backup_qdrant/
config/default_local.config
**.out
log/
*.tar
*.bin
*~
*swp
*swo
.idea
__pycache__
*un~
**/.DS_Store
.sisyphus/
**/AGENTS.md
!README.md
*.md