[train] #train parameters
epoch = 6
batch_size = 2

reader_num = 1

optimizer = bert_adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 8

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = BertPli
train_data_path = /app/data
train_file_list = tiny_train_summy.json
train_split_method = sumy
train_split_level = sentences
train_coliee_file = /app/data/task1_train_files_2024.zip

valid_dataset_type = JsonFromFiles
valid_formatter_type = BertPli
valid_data_path = /app/data
valid_file_list = valid_full.json
valid_split_method = sumy
valid_split_level = sentences
valid_coliee_file = /app/data/sample-train.json

test_dataset_type = JsonFromFiles
test_formatter_type = BertPli
test_data_path = /app/data
test_file_list = valid_full.json
test_split_method = sumy
test_split_level = sentences
test_coliee_file = /app/data/sample-train.json

recursive = False
json_format = line

max_seq_length = 512

[model] #TODO testar selection_mode = learnable
model_name = BertPLI
bert_path = bert-base-uncased
max_para_c = 40
max_para_q = 54
output_dim = 2
output_mode = classification
selection_mode = sumy 

[poolout] #model parameters
config_file = config/nlp/BertPoolOutMax.config

[attention_rnn] #model parameters
config_file = config/nlp/AttenLSTM.config

[output] #output parameters
output_time = 1
test_time = 1
save_step = 100

model_path = output/results
model_name = train_relevant_pool_out_max.json

tensorboard_path = output/tensorboard

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,macro_precision,macro_recall,macro_f1

tqdm_ncols = 150
